body {
    background-image: url("bg.jpg");
    border-style:solid;
  padding:10px;
  border-radius:80px;
  border-color:#1A237E;
  }
  .heading1{
    color: rgb(87, 87, 236);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }
  .head2{
    color: purple;
  }
  .name_of_object{
    color:hotpink;
  }